﻿@model IEnumerable<BlogWeb.Models.blogtb>
@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<div class="jumbotron">
    <center>
        <h3 style="font-family:Kalinga; font-size:40px;"><b>Simple Blog Website</b></h3>
    </center>
    <br />
    <br />
    <form method="post">


        <table class="table table-bordered">
            <tr>
                <th>Blog Image</th>
                <th>Blog Tile</th>
                <th>Blog Description</th>
                <th><input type="submit" value="delete" class="btn btn-delete" /></th>
                <th>Update</th>
            </tr>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td><img src="~/images/@item.blog_image" width="200" height="100" /></td>
                        <td>@item.blog_title</td>
                        <td>@item.blog_description</td>
                        <td><input type="checkbox" name="chkid" value="@item.id" /></td>
                        <td><a href="@Url.Action("select", "Blog", new { id=@item.id})" class="alert alert-success">Update</a></td>
                    </tr>

                }
            }

        </table>
    </form>
</div>


