﻿@model BlogWeb.Models.blogtb
@{
   Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<div class="jumbotron">
    <center>
        <h3 style="font-family:Gulim; font-size:40px;">Blog Insert Form</h3>
    </center>
    <br />
    <br />
    <form method="post" enctype="multipart/form-data">
        <p class="alert alert-success">@ViewBag.mess</p>
        <fieldset>
            <legend style="font-family:Gadugi;"><b>Blog Insert form :</b></legend>
            <div class="form-group">
                <label>Select Image: </label>
                <input type="file" name="file" class="form-control" />
            </div>
            <div class="form-group">
                <label>Blog Title: </label>
                <input type="text" name="blog_title" class="form-control" />
            </div>
            <div class="form-group">
                <label>Enter Blog Description: </label>
                <input type="text" name="blog_description" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Insert Blog" class="btn btn-primary" />

            </div>
        </fieldset>
    </form>
</div>



