﻿@model IEnumerable<BlogWeb.Models.blogtb>
@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<div class="jumbotron">
    <center>
        <h3 style="font-family:Kalinga; font-size:40px;"><b>Simple Blog Website</b></h3>
    </center>
    <br />
    <br />
    <form method="post">
        @{
            foreach (var item in Model)
            {
                <div class="form-group">
                    <input type="hidden" name="id" value="@item.id" />

                </div>
             <div class="form-group">
            <label>Update Blog title: </label>
            <input type="text" name="blog_title" value="@item.blog_title" class="form-control" />
           </div>
            
             <div class="form-group">
            <label>Update Blog description: </label>
                 <input type="text" name="blog_description" value="@item.blog_description" class="form-control" />
           </div>
            <div class="form-group">
                <input type="submit" value="update" class="btn btn-danger" />
            </div>        
            }
        }
       
    </form>
</div>



