﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Simple Blog Web</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index","Blog")">View Blogs</a></li>
                    <li><a href="@Url.Action("insert","Blog")">Insert Blog</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">

            @RenderBody()

        </div>

    </div>
</body>
</html>
